*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
height:100vh;
}

body{
overflow-x: none;
width:100%;
height:100%;
font-family:'Major Mono Display', monospace;
}

.content{
    margin:0 auto;
    position:absolute;
    z-index: 999;
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    color:#fff;
    text-align:center;
}

.content h1{
    font-size:3rem;
    margin-bottom:2rem;
    font-size:3rem;
}

.btn{
    background-color: transparent;
    color:#fff;
    padding:20px 40px;
    outline:none;
    border:2px solid #fff;
    font-family: 'Major Mono Display', monospace;
    cursor:pointer;
    font-size:1rem;
    letter-spacing: 1px;
}

.btn:hover{
    background-color:red;
    border:2px solid red;
    transition: 0.8s ease-in-out;
}

#c{
    width:100%;
    height:100%;
    display:block;
}